body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: #E0E0E0;
  width: fit-content;
  height: fit-content;
}

.navigationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  width: 600px;

 
  }
.logoWrapper {
    display: flex;
}
.stylish {
      font-weight: bold;
    }

 .logo {
      padding-left: 4px;
      color: #ea4f4c;
    }

   .btn {
      box-shadow: 0px 5px 10px #212121; 
      color: black;
      border: none;
      padding: 10px 22px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      margin: 4px 2px;
      cursor: pointer;
  } 
 #loanbtn{
   background-color: turquoise;
 }
 #bankbtn{
  background-color: yellow;
  margin-top: 39px;
 }
 #workbtn{
  background-color: blue;
  color: white;
  margin-top: 39px;
 }
 #buybtn{
   background-color: lightblue;
   float: right;
   margin-right: 40px;
   width: 120px;
 }

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 15px 10px;
}

/* Remove extra left and right margins */
.row {margin: 0 -50px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
#pay, #balance, #outstandingLoan{
  margin-top: -20px;
  margin-left: 100px ; 
} 
#payBalancediv, #loan{
  position: relative;
  text-align: left;
  
}
#buyNow{
  width: 600px !important;
  height: 200px;
  text-align: center;
}
#description{
  text-align: left;

}
#price{
  text-align: right;
  margin: 0px 70px 15px 0px;
  font-weight: bold;
  font-size: 20;
}
#buyNow #img{
  float: left; 
  margin: 0px 15px 15px 0px;  
}

.card {
  position: relative;
  width: 300px;
  padding: 10px;
  margin-left: 90px; 
  text-align: center;
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5)};

  select{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ddd;
    list-style: none;
    border: none;
    text-decoration: none;
    }

    #specs{
      text-decoration: none;
      text-align: left;
      list-style-type: none;
    }
    #specs li{
      margin-top: 6px;
      font-size: 12px;
    }